/* Format footer container */
#main-footer .g-footer {
/*    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;*/
    /*background-color: #efefef;*/
    text-align: center;
}

/* Style icons */
#main-footer .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color:#034abe;
}

/* Add a hover effect */
#main-footer .fa:hover {
    opacity: 0.7;
    text-decoration: none;
{
