/* Format the body */
body {
     margin: 0;
     padding: 0;
     text-align: center;
}

/* Format main container */
#override-bs .main-container {
    width:100%;
    height: 100%;
    position: fixed;
    padding:10px;
    margin:10% auto;
}

/*#main-form {
    width:764px;
    margin:0 auto;
}*/

/* Style the main_logo somewhat differently; skew left */
#override-bs #main-logo {
    display: block;
    margin-left: 30%;
    margin-right: auto;
}
