html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1 0 auto;
}

.flex-container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 525px;
}

.box {
    width: 765px;
}

#main-logo {
    text-align: left;
}

#home-navbar {
    float: left;
}

#page-form {
    list-style: none;
    margin: 10px;
    float: right;
}

a {
    color:#034abe !important;
}

a:hover {
    color:#f4b841 !important;
}

th {
    font-weight: bold !important;
}